
<hr class="featurette-divider">
<iframe width="560" height="315" style="margin-right:40px" class="pull-left" src="http://www.youtube.com/embed/sWQszTlYhQ8" frameborder="0" allowfullscreen></iframe>
        <h2 class="featurette-heading">Welcome to get2gether. <span class="muted">The solution to planning your social life</span></h2>
        <p class="lead">Watch how it's done and sign up today!</p>
      </div>

<hr class="featurette-divider">
      <div class="featurette">
        <img class="featurette-image pull-right" src="/images/stock_friends_5.jpg">
        <h2 class="featurette-heading">Welcome to get2gethr. <span class="muted">Made by Molly Mackinlay</span></h2>
        <p class="lead">Enter some free time, send to your friends, and never eat lunch alone again!</p>
      </div>

      <hr class="featurette-divider">
