<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
          <img src="/images/stock_friends_3.jpeg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Get together today!</h1>
              <p class="lead">Plan get2gethers with your friends over food, coffee, or exercise!</p>
              <a class="btn btn-large btn-success" href="/user/login">Login Now!</a>
              <a class="btn btn-large btn-primary" href="/user/register">Sign up today!</a>
            </div>
          </div>
		</div>
		<div class="item">
          <img src="/images/stock_friends_2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Get together today!</h1>
              <p class="lead">Plan get2gethers with your friends over food, coffee, or exercise!</p>
              <a class="btn btn-large btn-success" href="user/login">Login Now!</a>
              <a class="btn btn-large btn-primary" href="user/register">Sign up today!</a>
            </div>
          </div>
		</div>
		<div class="item">
          <img src="/images/stock_friends_4.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Get together today!</h1>
              <p class="lead">Plan get2gethers with your friends over food, coffee, or exercise!</p>
              <a class="btn btn-large btn-success" href="user/login">Login Now!</a>
              <a class="btn btn-large btn-primary" href="user/register">Sign up today!</a>
            </div>
          </div>
		</div>
        <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>-->
	</div>
</div>
	
<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="/images/stock_friends_2.jpg">
          <h2>Go walking</h2>
          <p>Invite a friend to join you on a liesurly walk...</p>
        </div><!-- /.span4 -->
        
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="/images/stock_friends_4.jpg">
          <h2>Grab Lunch</h2>
          <p>Chat and catch up over lunch with a good friend...</p>
        </div><!-- /.span4 -->
        
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="/images/stock_friends_1.jpg">
          <h2>Get Coffee</h2>
          <p>Enjoy some caffine and pastries with a friend...</p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="/images/stock_friends_5.jpg">
        <h2 class="featurette-heading">Schedule a get2gether. <span class="muted">With none of the hassle</span></h2>
        <p class="lead">Enter some free time, send to your friends, and never eat lunch alone again!</p>
      </div>

      

      <hr class="featurette-divider">

       <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2013 get2gether, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>

</div>
	
	<!--<div class="container marketing">
	<h1 align="center">
		<a href="/user/login">Plan your get togethers today!</a>
		<p>Plan Get2gethers with your friends over food, coffee, or exercise!</p>
		<p>Enter some free time, send to your friends, never eat lunch alone again!</p>
	</h1>
	</div>
</div>-->